<!DOCTYPE html>
<html>
<head>

 

 
</head>
<body>
  <h1>Hello</h1>
  
  <input type="text" name="username" placeholder="Username" class="username" />
  <input type="text" name="password" placeholder="PassWords" class="password"/>
  <button id="click" >Resgister</button>
  
  <table id="table">
    <thead>
      <tr>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="main.js"></script>
   <script src="Customer.js"></script>
   <script src="ListCustomer.js"></script>
   <script src="../index.js"></script>
</body>


</html>
